@media(max-width: 1190px) {
  .header__dropdown_list-bottom {
    &.list__pages {

      .header__user-menu_list {
        min-width: 175px;
      }
    }
  }
  .contact-us__item {
    margin: 0 10px 20px;
  }
  .contact-us__info-box {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-us__info-box {
    padding-bottom: 30px;
  }
  .favorites__content {
    .favorites__box {
      margin: 0 -5px;

      .product__item {
        margin: 0px 5px 30px;
      }
    }
  }
  .products{
    padding: 60px 0;
    .product__item {
      max-width: 310px;

      .product__item-content {
        padding: 10px 15px 0 15px;
      }

      .user {
        margin-bottom: 20px;
      }

      .product__item-text {
        margin-bottom: 10px;
      }

      .product__item-img {
        min-height: 180px;
        max-height: 180px;
      }

      .product__item-img--inner {
        min-height: 180px;
      }

      .item-title {
        margin-bottom: 10px;
      }

      .product__item-info {
        height: 50px;
        padding: 0px 15px;
      }

      .price {
        padding: 0 10px;
      }
    }
  }
  .products__inner-box{
    margin: 0 auto;
    max-width: 1014px;
    .product__item{
      margin: 0px 0px 30px;
    }
  }
  .products__inner-box{
    justify-content: space-between;
  }
  .slider__bottom-inner{
    margin-left: -15px;
  }
}

@media(max-width: 1160px){
  .advantages__bottom-inner{
    max-width: 740px;
    margin: 0 auto;
  }
}

@media(max-width: 1150px) {

  .product__item {
    max-width: 310px;

    .product__item-content {
      padding: 10px 20px 0 15px;
    }

    .user {
      margin-bottom: 20px;
    }

    .product__item-text {
      margin-bottom: 10px;
    }

    .product__item-img {
      min-height: 180px;
      max-height: 180px;
    }

    .product__item-img--inner {
      min-height: 180px;
    }

    .item-title {
      margin-bottom: 10px;
    }

    .product__item-info {
      height: 50px;
      padding: 0px 15px;
    }

    .price {
      padding: 0 10px;
    }
  }
  .category__aside {
    transform: translateX(-110%);
  }
  .category__aside-item {
    max-width: 260px;
  }
  .product__item-inner .product__item {
    margin: 0px auto;
  }
  .category__box {
    transition: .3s all;
    transform: translateX(-290px);;
    min-width: 100%;
    width: 100%;
    justify-content: space-around;

    .product__item-inner {
      margin: 0 5px 30px;
    }
  }
  .category__btn {
    display: flex;
  }
  .slider__bottom-item{
    .product__item{
      margin: 0 auto;
    }
  }
  .news .product__item-img .product__item-img-link {
    max-width: 310px;
    width: 100%;
    height: 180px;
  }
  .news__box{
    max-width: 1014px;
    margin: 0 auto;
  }
}

@media(max-width: 1100px) {
  .category {
    .category__top {
      .category__top-wrapper.category__top-wrapper-right {
        justify-content: flex-end;

        .category__top-btns {
          display: none;
        }
      }
    }
  }
}

@media(max-width: 1070px) {
  .category__top {
    flex-direction: column;
    height: auto;
    position: relative;

    .category__top-btns {
      margin-right: 140px;
    }
  }
  .favorites__top-left {
    margin-right: 0px;
  }
  .category__top-wrapper {
    padding: 10px 0;
  }
  .category__top-wrapper {
    max-height: 200px;
  }
  .category__top-wrapper {
    &.category__top--left {
      justify-content: center;
      max-width: 1170px;
      min-height: 70px;
      padding: 0;

      .category__top--left-filter {
        height: 45px;
        max-width: 110px;
        position: absolute;
        right: 0px;
        bottom: 10px;

        .jq-selectbox__dropdown {
          width: 110px !important;

          ul {
            width: 110px;
          }
        }

        .jq-selectbox__select {
          height: 45px;
          max-width: 110px;
          padding: 8px 10px;
          border: 1px solid #eceff2;
          border-left: 1px solid #eceff2;
          border-top: 1px solid #eceff2;
          border-bottom: 1px solid #eceff2;
        }

        .jq-selectbox__select {
          &::before {
            top: 9px;
            right: 20px;
          }
        }
      }
    }

    &.category__top-wrapper-left {
      .category__top--left-filter {
        position: absolute;
        right: 15px;

        .jq-selectbox__select {
          height: 45px;
          max-width: 90px;
          padding: 10px;
          border: 1px solid #eceff2;
          border-left: 1px solid #eceff2;
          border-top: none;
          border-bottom: none;
          position: relative;
        }
      }
    }

    &.category__top-wrapper-right {
      justify-content: flex-end;
      max-width: 1170px;

      .category__top-wrapper-form {
        max-width: 455px;

        .jq-selectbox__select {
          margin-left: 0px;
        }

        .jq-selectbox__dropdown {
          ul {
            left: 0px;
          }
        }
      }
    }
  }

  .new-Products__Popular-Products {
    margin: 0 auto;
  }
  .category__inner {
    .category__top-btns {
      margin-right: 0px;
    }
  }
  .slider__bottom-inner {
    margin-left: 0px;
  }
  .news__box{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media(max-width: 1000px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__col-info {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  .footer__col-form {
    max-width: 100%;
    width: 100%;
  }
  .footer__col-menu-wrapper {
    margin-bottom: 40px;
  }
  .footer__top {
    padding: 50px 0;
  }
  .list__pages {
    display: none;
  }
  .how-works__item-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .how-works__item-middle {
    .how-works__item-box {
      flex-direction: column-reverse;
    }
  }
  .favorites__content {
    .favorites__box {
      justify-content: center;

      .product__item {
        margin: 0px 15px 30px;
      }
    }
  }
  .advantager__item{
    padding: 15px 10px 30px;
  }
  .slider__item-img{
    max-width: 400px;
  }
  .slider__item-text {
    margin-bottom: 20px;
  }
  .slider__item-category {
    margin-bottom: 25px;
  }
  .slider__item-user{
    .user {
      margin-bottom: 15px;
    }
  }
  .slider__item-box {
    padding: 25px 20px 0px 20px;
  }
  .slider__item-inner{
    min-height: 350px;
  }
  .slider__wrapper {
    padding: 60px 0;
  }
  .products__inner-box {
    max-width: 650px;
  }
}

@media(max-width: 900px) {
  .header__form {
    min-width: 270px;
  }
  .category__box.active {
    justify-content: flex-start;
  }
  .search__desc{
    padding: 70px 0;
  }
  .search__desc-title {
    font-size: 40px;
    line-height: 50px;
  }
  .search__desc-text {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 35px;
    line-height: 25px;
  }
  .search__form-inner button {
    min-width: 150px;
  }
  .heading-box {
    margin-bottom: 25px;
  }
  .slider__inner .slick-next {
    top: -88px;
  }
  .slider__inner .slick-prev {
    top: -88px;
  }
  .slider__bottom-inner .slick-prev {
    top: -88px;
  }
  .slider__bottom-inner .slick-next {
    top: -88px;
  }
  .feedback__box{
    flex-direction: column;
  }
  .feedback__item-left{
    margin-right: 0;
  }
  .feedback__item{
    margin: 10px auto;
  }
}

@media(max-width: 800px) {
  .becomeSeller__wrapper {
    display: none;
  }
  .header__form {
    display: none;
  }
  .search__icon {
    display: block;
  }
  .form__row {
    flex-direction: column;
  }
  .contact-us__form-inner {
    input {
      width: 100%;
      max-width: 100%;
    }
  }
  .slider__item-img {
    max-width: 300px;
  }
  .slider__item-text {
    margin-bottom: 20px;
    max-height: 87px;
    overflow: hidden;
  }
  .advantages__bottom-inner{
    max-width: 365px;
    margin: 0 auto;
  }
  .advantages__bottom-item{
    margin:0 0 15px;
  }
}

@media(max-width: 780px) {
  .category__top-btns {
    display: none;
  }
  .category__top-wrapper-form {
    margin-right: 130px;
  }
  .category__inner {
    .category__top-wrapper-form {
      margin-right: 0px;
    }
  }
  .advantages__items{
    flex-direction: column;
    align-items: center;
    padding: 160px 0 50px;
    .advantager__item{
      max-width: 300px;
      margin-bottom: 20px;
    }
  }
  .start__box{
    flex-direction: column;
  }
  .guarantee__inner{
    flex-direction: column;
  }
  .guarantee__item {
    margin-bottom: 30px;
  }
  .guarantee {
    padding: 50px 0 20px;
  }
}

@media(max-width: 740px) {
  .icon__box {
    &:hover {
      border-left-width: 40px;
      border-bottom-width: 40px;
      border-right-width: 15px;

      .header__dropdown_list {
        opacity: 1;
        top: 58px;
        right: -150px;
      }
    }

    .header__dropdown_list::after {
      display: none;
    }
  }
  .favorites__content {
    padding: 50px 0 50px;

    .favorites__box {
      justify-content: space-around;

      .product__item {
        margin: 0px 5px 30px;
      }
    }
  }
  .search__form-line{
    .search__form-select{
      display: none;
    }
  }
  .heading {
     font-size: 20px;
     margin-bottom: 10px;
   }
  .slider__item-user{
    .user {
      margin-bottom: 10px;
    }
  }
  .slider__item-info{
    height: 50px;
  }
  .slider__item-inner{
    min-height: 300px;
  }
}

@media(max-width: 700px){
  .slider__item-inner{
    display: block;
  }
  .slider__item-box {
    max-width: 653px;
  }
  .slider__item-img{
    height: 300px;
  }
  .slider__item-img {
    max-width: 660px;
  }
  .products__inner-box {
    max-width: 310px;
  }
  .sales-info__inner{
    flex-wrap: wrap;
    justify-content: center;
  }
  .sales-info{
    padding: 50px 0 30px;
  }
}

@media(max-width: 660px) {
  .li__notify {
    .icon__box {
      display: none;
    }
  }
  .li__message {
    .icon__box {
      display: none;
    }
  }
  .li__basket {
    .icon__box {
      left: -55px;

      &:hover {
        right: 10px;
      }
    }
  }
  .header__menu-icons {
    width: auto;
  }
  .navigation__inner {
    padding: 30px 0;
  }
  .not__found-bottom-inner {
    padding: 70px 0;
  }
  .how-works__item {
    padding: 50px 0;
  }
  .how-works__img {
    img {
      width: 300px;
    }
  }
  .pricing {
    padding: 80px 0;
  }
  .desc__subtitle {
    margin-bottom: 30px;
  }
  .news{
    padding: 80px 0;
    .news__item.product__item{
      margin: 0 0 30px;
    }
  }
}

@media(max-width: 630px) {
  .category__top {
    height: 70px;
  }
  .category__top-wrapper-right {
    display: none;
  }

  .category__top-wrapper.category__top--left {
    justify-content: space-between;

    .category__top--left-filter {
      position: inherit;
    }
  }
  .category__box.active{
    transform: translateX(110%);
  }
  .title{
    font-size: 20px;
  }
  .heading-box{
    height: 70px;
    padding: 0 20px;
  }
  .slick-next {
    top: -69px !important;
    right: 30px !important;
  }
  .slick-prev{
    top: -69px !important;
    right: 90px !important;
  }
}

@media(max-width: 580px) {
  .not__found-bottom-inner {
    img {
      width: 200px;
      margin-bottom: 25px;
    }

    .not__found-text {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 530px) {
  .header__top-inner {
    min-height: auto;
    height: 70px;
  }
  .header__user-box {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
  }
  .header__user-box:hover {
    .header__dropdown_list {
      top: 60px;
      right: auto;

      &::after {
        display: none;
      }
    }
  }
  .icon__box {
    &:hover {
      .header__dropdown_list {
        opacity: 1;
        top: 44px;
        left: 0;
      }
    }
  }
  .header__button {
    display: block;
  }
  .header__box {
    position: absolute;
    top: -70px;
    left: 60px;

    &.active {
      top: 0;
    }
  }
  .logo__top {
    &.active {
      opacity: 0;
    }
  }
  .search__icon {
    right: 80px;
    left: auto;
  }
  .header__dropdown_list-bottom {
    display: none;
  }
  .menu__list-btn {
    display: block;
  }
  .menu__list {
    display: none;
  }
  .header__bottom-inner {
    min-height: 60px;
  }
  .header__form {
    height: 35px;

    input {
      height: 35px;
    }
  }
  .header__bottom {
    position: relative;
  }
  .menu__list {
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    top: 60px;
    border-top: 1px solid $text;

    li {
      display: block;
      width: 100%;
      background-color: #eef1f3;
      text-align: center;
    }

    li + li {
      margin-left: 0;
    }

    .menu__list-title {
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid $text;
    }
  }
  .terms__title {
    padding: 25px 30px 20px 30px;
  }
  .how-works__box {
    margin-top: 15px;
  }
  .pricing__item {
    margin: 10px 0;
    min-width: auto;
    max-width: 310px;
  }
  .login__text {
    padding: 30px 25px 20px;
  }
  .login__form {
    padding: 35px 35px 40px;

    form {
      input {
        margin-bottom: 20px;
        max-width: 100%;
        padding: 0 15px;
        font-size: 14px;
      }

      button {
        margin: 0 auto;
      }
    }

    .searchForm {
      min-width: 100%;
    }
  }
  .contact-us__subtitle.navigation__inner {
    padding: 50px 0px;
    font-size: 20px;

    span {
      font-size: 15px;
      margin-top: 10px;
    }
  }
  .contact-us {
    padding: 50px 0 50px;
  }
  .subtitle {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .contact-us__form-inner {
    .contact-us__form-title {
      padding: 30px 40px 30px;
    }
  }
  .search__desc{
     a{
       padding: 15px 10px;
       margin:  10px;
     }
  }
  .search__form{
    padding: 15px;
  }
  .search__form-inner{
    input{
      padding: 0 15px;
    }
  }
  .search__desc {
    padding: 50px 0;
  }
  .start__item-img{
    height: 70px;
  }
  .feedback__item span {
    z-index: -1;
    top: 52px;
    right: 20px;
    font-size: 40px;

  }
  .guarantee__item{
    img{
      height: 80px;
    }
  }
}

@media(max-width: 445px) {
  .icon__box {
    .header__basket-box {
      display: none;
    }
  }
  .join__title {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .join__desc {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .join {
    padding: 50px 0;
  }
  .navigation__inner {
    &.become__author {
      padding: 50px 0 30px;

      .navigation__title {
        span {
          display: block;
          font-weight: 300;
          margin: 16px 0 30px;
        }
      }
    }
  }
  .form__row {
    input {
      padding: 0 20px;
      margin-bottom: 20px;
    }

    textarea {
      padding: 20px 20px;
    }
  }
  .search__form-inner button {
    min-width: 120px;
  }
  .slider__item-img {
    height: 200px;
  }
  .slider__item-category {
    margin-bottom: 20px;
  }
  .title {
    font-size: 15px;
  }
  .feedback__user-avatar {
    width: 50px;
    height: 50px;
  }
  .feedback__item {
    padding: 30px 20px 30px;
  }
  .feedback__item span {
    display: none;
  }
}

@media(max-width: 420px) {
  .searchForm {
    min-width: 266px;
  }
  .footer__col-menu {
    min-width: 100%;
    width: 100%;
  }
  .footer__col-menu-first {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .link {
    width: 30px;
    height: 30px;
  }
  .link-facebook {
    &::before {
      top: 3px;
      left: 11px;
    }
  }
  .link-twitter {
    &::before {
      top: 3px;
      left: 10px;
    }
  }
  .link-google {
    &::before {
      top: 2px;
      left: 9px;
    }
  }
  .link-pinterest {
    &::before {
      top: 2px;
      left: 9px;
    }
  }
  .link-Instagram {
    &::before {
      top: 2px;
      left: 10px;
    }
  }
  .link-dribble {
    &::before {
      top: 2px;
      left: 10px;
    }
  }
  .category__top--left-filter {
    display: none;
  }
  .favorites__content {
    .pagination {
      margin: 20px auto 0;
    }
  }
  .pagination {
    min-width: 200px;

    button.lnr-arrow-right {
      margin-left: 10px;
      margin-top: 3px;
    }

    button.lnr-arrow-left {
      margin-right: 10px;
      margin-top: 3px;
    }

    button {
      width: 35px;
      height: 25px;
    }

    ul {
      li {
        a {
          min-width: 35px;
          height: 30px;
          padding-top: 0px;
        }
      }

      li:last-child {
        display: none;
      }
    }
  }
  .navigation__box {
    .navigation__form {
      input {
        height: 45px;
        padding: 0px 100px 0 20px;
        font-size: 15px;
      }

      button {
        padding: 0 20px;
      }
    }
  }

}

@media(max-width: 400px) {
  .navigation__title {
    font-size: 25px;
  }
  .not__found-bottom-inner {
    img {
      width: 150px;
    }
  }
  .pricing__item {
    padding: 20px;
    margin: 10px 0;
  }
  .search__form{
    display: none;
  }
  .slider__item-info{
    .rate-star__slider{
      display: none;
    }
  }
  .slider__item-category{
    display: flex;
    flex-wrap: wrap;
    a{
      margin: 5px 2px;
    }
    a+a {
      margin: 5px 2px;
    }
  }
  .slider__item-category {
    margin-bottom: 10px;
  }
  .slider__item-text {
    margin-bottom: 15px;
  }
  .slider__item-category{
    margin: 0 -5px 10px;
  }
  .slider__top-arrows{
    width: 90px;
  }
  .slick-next {
    right: 16px !important;
  }
  .slick-prev {
    right: 60px !important;
  }
}

@media(max-width: 390px) {
  .search__icon {
    &.active__state2 {
      opacity: 0;
      top: -70px;
    }
  }
  .how-works__img {
    img {
      width: 280px;
    }
  }
  .contact-us__item {
    padding: 30px 50px;
  }
  .product__item--rate-star {
    display: none;
  }
  .products__filter{
    width: 110px;
    margin-left: 5px;
    font-size: 15px;
  }
  .products__filter form {
    margin-left: 5px;
  }
  .heading-box {
    height: 70px;
    padding: 0 15px;
  }
  .products__inner-btn {
    padding: 10px 10px;
  }
  .product__item-img--link {
    padding: 15px;
  }
}

@media(max-width: 380px) {
  .logo__top {
    img {
      width: 140px;
    }
  }
  .header__price {
    margin-left: 10px;
  }
  .menu__list-btn {
    &.active {
      display: none;
    }
  }
  .terms {
    padding: 40px 0;
  }
  .register__form {
    padding: 0px 20px 35px;
  }
  .register__title {
    padding: 35px 30px 30px;
  }
  .register__form {
    form {
      button {
        margin-top: 25px;
        margin-bottom: 30px;
      }
    }
  }
  .register__row-text {
    padding-top: 25px;
  }
}

@media(max-width: 360px) {
  .header__user-box:hover {
    .header__dropdown_list {
      right: -57px;
    }
  }
  .views::before {
    font-size: 15px;
  }
  .comments::before {
    font-size: 15px;
  }
  .views {
    padding-left: 20px;
  }
  .comments {
    padding-left: 20px;
  }
  .data::before {
    font-size: 15px;
  }
  .data {
    padding-left: 20px;
  }
}
