
@media(max-width: 1190px){
  .header__dropdown_list-bottom{
    &.list__pages {

      .header__user-menu_list{
        min-width: 175px;
      }
    }
  }
}
@media(max-width: 1000px){
  .footer__inner{
    flex-wrap: wrap;
  }
  .footer__col-info{
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  .footer__col-form{
    max-width: 100%;
    width: 100%;
  }
  .footer__col-menu-wrapper{
    margin-bottom: 40px;
  }
  .footer__top{
    padding: 50px 0;
  }
  .list__pages {
    display: none;
  }

}
@media(max-width: 900px){
  .header__form{
    min-width: 270px;
  }
}
@media(max-width: 800px){
  .becomeSeller__wrapper{
    display: none;
  }
  .header__form{
    display: none;
    position: absolute;

  }
  .search__icon{
    display: block;
  }
}
@media(max-width: 740px){
  .icon__box{
    &:hover{
      border-left-width: 40px;
      border-bottom-width: 40px;
      border-right-width: 15px;
       .header__dropdown_list {
        opacity: 1;
        top: 58px;
        right: -150px;
      }
    }
    .header__dropdown_list::after{
      display: none;
    }
  }
}
@media(max-width: 660px){
  .li__notify{
    .icon__box{
      display: none;
    }
  }
  .li__message{
    .icon__box{
      display: none;
    }
  }
  .li__basket{
    .icon__box{
      left: -55px;
      &:hover{
        right: 10px;
      }
    }
  }
  .header__menu-icons{
    width: auto;
  }
}
@media(max-width: 530px){
  .header__top-inner{
    min-height: auto;
    height: 70px;
  }
  .header__user-box {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
  }
  .header__user-box:hover{
    .header__dropdown_list{
      top: 60px;
      right: auto;
      &::after{
        display: none;
      }
    }
  }
  .icon__box{
    &:hover{
      .header__dropdown_list {
        opacity: 1;
        top: 44px;
        left: 0;
      }
    }
  }
  .header__button{
    display: block;
  }
  .header__box{
    position: absolute;
    top: -70px;
    left: 60px;

    &.active{
      top: 0;
    }
  }
  .logo__top{
    &.active{
      opacity: 0;
    }
  }
  .search__icon{
    right: 80px;
    left: auto;
  }
  .header__dropdown_list-bottom{
    display: none;
  }
  .menu__list-btn{
    display: block;
  }
  .menu__list{
    display: none;
  }
  .header__bottom-inner {
    min-height: 60px;
  }
  .header__form{
    height: 35px;
    input{
      height: 35px;
    }
  }
  .header__bottom{
    position: relative;
  }
  .menu__list{
    position: absolute;
    z-index: 5;
    width: 100%;
    left: 0;
    top: 60px;
    border-top: 1px solid $text;
    li{
      display: block;
      width: 100%;
      background-color: #eef1f3;
      text-align: center;
    }
    li+li{
      margin-left: 0;
    }
    .menu__list-title{
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid $text;
    }
  }
}
@media(max-width: 445px){
 .icon__box{
   .header__basket-box{
     display: none;
   }
 }
}
@media(max-width: 420px){
  .searchForm {
    min-width: 266px;
  }
  .footer__col-menu{
    min-width: 100%;
    width: 100%;
  }
  .footer__col-menu-first{
    margin-right: 0;
    margin-bottom: 40px;
  }
  .link{
    width: 30px;
    height: 30px;
  }
  .link-facebook{
    &::before{
      top: 3px;
      left: 11px;
    }
  }
  .link-twitter{
    &::before{
      top: 3px;
      left: 10px;
    }
  }
  .link-google{
    &::before{
      top: 2px;
      left: 9px;
    }
  }
  .link-pinterest{
    &::before{
      top: 2px;
      left: 9px;
    }
  }
  .link-Instagram{
    &::before{
      top: 2px;
      left: 10px;
    }
  }
  .link-dribble{
    &::before{
      top: 2px;
      left: 10px;
    }
  }
}
@media(max-width: 390px){
  .search__icon{
    &.active__state2{
      opacity: 0;
      top: -70px;
    }
  }
}
@media(max-width: 380px){
  .logo__top{
    img{
      width: 140px;
    }
  }
  .header__price {
    margin-left: 10px;
  }
  .menu__list-btn{
    &.active{
      display: none;
    }
  }
}
@media(max-width: 360px){
  .header__user-box:hover{
    .header__dropdown_list{
      right: -57px;
    }
  }
}
