@import '_vars';
@import '_global';
@import '_fonts';

//header start

.header{
    &__top{
        background-color: $bg; 
    }
    &__top-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
    &__box{
        display: flex;
        align-items: center;
        transition: .5s all;
        a{
            color: #333333;
            display: block;
            line-height: 20px;
            .user__price{
                color: $blue;
            }
        }
        a.becomeSeller{
            background-color: $blue;
            color: #fff;
            padding: 5px 15px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            font-size: 14px;
            line-height: 28px;
        }
    }
    &__avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__price{
        margin-left: 20px;
        font-size: 16px;
    }
    &__user-wrapper{
        display: flex;
        font-weight: 500;
    }
}
.logo__top{
    transition: opacity .3s;
}
.header__menu-icons{
    width: 220px;
    position: relative;
    display: flex;
    justify-content: center;

    li{
        display: inline-block;
        position: relative;
        a{
            font-family: 'Linearicons-Free';
            span{
                font-size: 14px;
                position: absolute;
                top: -14px;
                left: 10px;
            }
            .lnr-alarm,
            .lnr-envelope,
            .lnr-cart{
                font-size: 20px;
                color: #7e8fa1;
                span{
                    background-color: #ff6a6c;
                    color:  #fff;
                    height: 22px;
                    min-width: 22px;
                    padding: 0 7px;
                    border-radius: 30px;
                    text-align: center;
                }
            }
            .lnr-envelope{
                span{
                    background-color: #62d03b;
                }
            }
            .lnr-cart{
                span{
                    background-color: #0674ec;
                }
            }
        }
    }
}


.header__bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    font-size: 15px;
    background-color: #fff;
}
.menu{
    &__list{
        li{
            text-transform: uppercase;
            display: inline-block;
            font-weight: 500;
            & + li{
                margin-left: 20px;
            }
            &:hover{
                a.menu__list-title{
                    color: $blue;
                }

            }
        }
        a{
            color: $grey;    


        }
    }
}
.header__button{
    background-color: #262b30;
    width: 70px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 40px;
    color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    text-align: center;
    display: none;
}
.header__dropdown_list{
    background-color: #fff;
    border-top: 1px solid $blue;
    box-shadow: 0 5px 40px 0 rgba(82, 85, 90, 0.2);
    opacity: 0;
    position: absolute;
    top: -9999em;
    z-index: 4;
    transition: opacity .2s;
    border-radius: 0px 0px 4px 4px ;
    &::after{
        content: ('');
        position: absolute;
        top: -10px;
        left: 28px;
        width: 20px;
        height: 20px;
        background: linear-gradient(  -224deg, #0674ec 50%, #fff 50%);
        transform: translateX(180px) rotate(45deg);
    }
    .header__dropdown-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 20px 18px 20px;
        border-bottom: 1px solid #e8ebf0;
        .header__dropdown-top-link{
            font-family: 'Quicksand', sans-serif;
            color: $blue ;
            font-size: 15px;
        }
    }

}
.icon__box{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    &:hover{
        border-left-width: 333px;
        border-bottom-width: 40px;
        border-right-width: 15px;
    }
}
.header__user-menu{
    padding: 20px;
}

.li__notify{
    .icon__box{
        left: -85px;
        top: -10px;
        &:hover{
            left: auto;
            right: 40px;
        }
    }
}
.li__message{
    .icon__box{
        left: -21px;
        top: -10px;
        &:hover{
            left: auto;
            right: -24px;
        }
    }
}
.li__basket{
    .icon__box{
        left: 40px;
        top: -10px;
        &:hover{
            left: auto;
            right: -85px;
            .li__message{
                z-index: 10;
            }
            .li__notify{
                z-index: 10;
            }
        }
    }
}
.icon__box{
    position: absolute;
    z-index: 10;
    &:hover{
        .header__dropdown_list{
            opacity: 1;
            top: 58px;
            right: -16px;
        }
        z-index: 3;
    }
    .header__dropdown_list{
        &::after{
            content: ('');
            position: absolute;
            top: -10px;
            left: 154px;
            width: 20px;
            height: 20px;
            background: linear-gradient(  -224deg, #0674ec 50%, #fff 50%);
            transform: translateX(180px) rotate(45deg);
        }
    }
}
.header__user-menu_list{
    min-width: 230px;
    li{
        a{
            color: #54667a;
            border-radius: 2px;
            padding:12px 15px 12px 40px;
            transition: .1s all;
            position: relative;
            &:hover{
                background-color: $blue;
                color: #fff;
            }
            &::before{
                font-family: 'Linearicons-Free';
                position: absolute;
                left: 10px;
            }
        }
    }
}
.header__user-box{
    border-bottom: 25px solid transparent;
    border-top:  25px solid transparent;
}

.header__message-box,
.header__notification-box{
    min-width: 370px;
}
.header__basket-box{
    min-width: 400px;
    .header__dropdown-name{

        color: #000;
        line-height: 22px;
        span{
            display: block;
        }
    }
}
.header__notification-box{
    .header__dropdown-info-top{
        position: relative;
    }
    .header__dropdown-name{
        position: static !important;
    }
    .header__dropdown-action{
        position: static !important;
        color: #747a86;
    }
}
.header__dropdown-item{
    position: relative;
    border-bottom: 1px solid #e8ebf0 ;
    padding: 20px 25px;
}

.header__dropdown-title{
    font-size: 18px;
    color: #000;
}
.header__dropdown-img{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 12px;
}
.header__dropdown-item-wrapper{
    display: flex;
    align-items: center;
}
.header__dropdown-info-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
.header__dropdown-info{
    width: 100%;
}
.header__dropdown-name{
    color: $grey;
    position: relative;
}
.header__dropdown-message{
    font-size: 15px;
    color: $text;
}
.header__dropdown-date{
    color: #747a86;
}
.new__message-icon{
    &::before{
        content: '\e818';
        position: absolute;
        font-family: 'Linearicons-Free';
        right: -27px;
        top: 2px;
        color: #747a86;
    }
}
.new__message-icon-active{
    &::before{
        content: '\e818';
        position: absolute;
        font-family: 'Linearicons-Free';
        right: -27px;
        top: 2px;
        color: $blue;
    }
}
.new__reply-icon{
    &::before{
        content: '';
        position: absolute;
        background-image: url("../images/icons/reply.svg");
        width: 16px;
        height: 12px;
        right: -27px;
        top: 5px;
    }
}
.new__reply-icon-active{
    &::before{
        content: '';
        position: absolute;
        background-image: url("../images/icons/reply__active.svg");
        width: 16px;
        height: 12px;
        right: -27px;
        top: 5px;
    }
}
.not__checked{
    color: $blue;
}
.header__notification-box{
    .header__dropdown-message{
        color: $blue;
    }
    .header__dropdown-item{
        padding: 18px 25px;
    }
    .header__dropdown-img{
        margin-bottom: 14px;
    }
    .header__dropdown-info-top{
        margin-bottom: 0;
    }
}

.header__dropdown-icon{
    top: 15px;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    &::before{
        content: '';
        position: absolute;
        font-size: 15px;
        font-family: 'Linearicons-Free';
        top: 9px;
        left: 9px;
    }
}
.icon-heart{
    background-color: #e6f1fd;
    &::before{
        content: '\e813';
        color: $blue;
    }
}
.icon-comment{
    background-color: #f1ecf9;
    &::before{
        content: '\e83f';
        color: $purple;
    }
}
.icon-cart{
    background-color: #fff0f0;
    &::before{
        content: '\e82e';
        color: #ff6a6c;
        left: 8px;
    }
}
.icon-review{
    background-color: #effaeb;
    &::before{
        content: '\e814';
        color: #62d03a;
    }
}
.header__basket-box{
    &.header__dropdown_list{
        .header__dropdown-item{
            position: relative;
            padding: 25px ;
        }
        &::after{
            content: ('');
            position: absolute;
            top: -10px;
            left: 185px;
            width: 20px;
            height: 20px;
            background: linear-gradient(  -224deg, #0674ec 50%, #fff 50%);
            transform: translateX(180px) rotate(45deg);

        }
    }
    .header__dropdown-img{
        border-radius: 0;
        height: 70px;
        width: 109px;

    }
    .header__dropdown-info{
        a{
            color: $purple;
            margin-left: 20px;
            &::before{
                left: -20px;
                top: 4px;
            }
        }
    }
}
.header__dropdown-aside{
    position: absolute;
    right: 25px;
    top: 25px;
    button{
        background-color: #f1ecf9;
        border: none;
        font-family: 'Linearicons-Free';
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-left: 7px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .header__dropdown-price{
        color: $blue;
        padding:13px 10px;
        line-height: 0;
        background-color: #e6f1fd;
        border-radius: 20px;
    }

}
.bottom__price-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 25px;

}
.bottom__links{
    display: flex;
    text-align: center;
    .bottom__Cart{
        background-color: $purple;
    }
    .bottom__Checkout{
        background-color: $blue;
    }
    a{
        width: 50%;
        height: 60px;
        color: #fff;
        padding: 20px;
    }
}
.bottom__price{
    font-size: 18px;

    span{
        margin-left: 30px;
    }
}
.menu__list-item{
    .menu__list-title{
        padding: 25px 0;
    }
}

.header__user-box{
    position: relative;
    &:hover{
        .header__dropdown_list{
            opacity: 1;
            top: 74px;
            right: 0px;
        }
    }
}
.menu__list-item {
    position: relative;
    &:hover{
        .header__dropdown_list{
            opacity: 1;
            top: 74px;
            left: 0;
        }
        .header__dropdown_list-bottom{
            top: 80px;
            overflow: hidden;
            left: 0;
        }
        .list__pages{
            top: 80px;
            overflow: hidden;
            left: -414px;
        }
    }
}
.header__dropdown_list{
    &.header__dropdown_list-bottom{
        padding: 20px 20px 10px 20px;

        .header__user-menu_list{
            a{
                padding: 10px 10px 15px 10px;
                width: 100%;
                display: block;
                text-transform: none;
            }
            li+li {
                margin-left: 0;
            }
            li{
                width: 100%;
                font-weight: 400;
            }
        }
    }
}
.list__pages{
    display: flex;
    &.header__dropdown_list-bottom {
        .list__pages-item{
            max-width: 420px;
            text-transform: none;
            margin-right: 20px;
        }
        .list__pages-item-last{
            margin-right: 0;
        }
        .header__user-menu_list-wrapper {
            ul {
                max-width: 190px;
            }
            li{
                max-width: 190px;
            }
            a{
                padding: 5px;

                text-transform: none;
            }
        }
    }
}
.header__user-menu_list-wrapper{
   display: flex;
    color: #54667a;
}

.list__pages-item-title{
    color: #000;

    padding: 10px 10px 20px 0px  ;
    border-bottom: 1px solid #e8ebf0;
    margin-bottom: 10px;
}
.search__icon{
    font-size: 25px;
    cursor: pointer;
    padding: 20px;
    display: none;
    position: absolute;
    left: 214px;
    transition: opacity .3s;
}
.header__form{
    transition: .5s all;
    &.active{
        right: 15px;
        display: block;
    }
}
.menu__list-btn{
    display: none;
    cursor: pointer;
    .menu__list-btn-row{
        height: 3px;
        width: 35px;
        background-color: #0b0b0b;
        margin: 6px 10px;
    }
}

    //header end

//search start
.search{
    background-color: $darkBlue;
    line-height: 15px;
    &__desc{
        text-align: center;
        color: #fff;
        padding: 170px 0 140px;
        &-titlee{
            font-size: 60px;
            line-height: 70px;
            span{
                display: block;

                margin-bottom: 30px;
            }
        }
        &-text{
            font-size: 20px;

            margin-bottom: 60px;
        }
        a{
            color: #fff;
            margin: 0 15px;
            font-size: 16px;
            border: 1px solid #fff;
            border-radius: 30px;
            padding: 20px 30px;
            transition: all .4s;
            &:hover{
                background-color: #fff;
                color: $blue;
            }
        }
        
    }
    &__form{
        background-color: #fff;
        padding: 30px;
        border-radius: 4px;
        transform: translateY(50%);
        position: relative;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        &::after{
            content: ' ';
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5);
            top: -13px;
            left: 15px;
            right: 15px;
            height: 13px;
            border-radius: 4px 4px 0 0;
        }
        &::before{
            content: ' ';
            position: absolute;
            z-index: 5;
            background-color: rgba(255, 255, 255, 0.5);
            top: -26px;
            left: 30px;
            right: 30px;
            height: 26px;
            border-radius: 4px 4px 0 0;
        }
        &-inner{
            position: relative;
            input{
            max-width: 800px;
            width: 100%;
            height: 100%;
            display: block;
            height: 55px;
            border: 1px solid #dcdcdc;
            border-radius: 3px;
            outline: transparent;
            padding: 0 225px 0 30px;
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                color: #fff;
                background-color: $blue;
                border: none;
                height: 100%;
                padding: 0 65px;
                cursor: pointer;
                border-radius: 3px;
                outline: transparent;
            }
        } 
    }
}
//search end 

//advantages start
.advantages__items{
    display: flex;
    justify-content: space-between;
    padding: 180px 0 120px;
}
.advantager__item{
    padding: 40px 40px 50px;
    text-align: center;
    border-radius: 4px;
    transition: all .4s;
    cursor: default;
    &:hover{
        background-color: #fff;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    img{
        margin-bottom: 30px;
    }
    &-title{
        font-size: 24px;
        color: #010101;
        margin-bottom: 25px;
    }
}


//advantages end

//slider strart
.slider{
    background-color: $bgDark;
    &__top{
        &-arrows{
            background-color: $purple;
            width: 110px;
            height: 45px;
            border-radius: 24px;
        }
    }
    &__inner{
        .slick-prev{
            @include slider__prev;
          }
        .slick-next{
            @include slider__next;
        }
    }
}
.slider__wrapper{
    padding: 120px 0;
    
}
.slider__item{
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    
    &-inner{
       display: flex;
       justify-content: space-between;
       line-height: 30px;
       min-height: 450px;
    }
    &-img{
        max-width: 550px;
        width: 100%;
        //background-color: #4e5760;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-box{
        max-width: 586px;
        padding: 35px 35px 0px 35px;
    }
    &-user{
    display: flex;
    }
    &-text{
        margin-bottom: 40px;
    }
    &-category{
        a{
            @include category;
            & + a{
                margin-left: 5px;
            }
        }
        margin-bottom: 44px;
    }
    &-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        border-top: solid 1px #ececec;
    }
    &-price{
        font-size: 15px;
        color: #fff;
        background-color: $blue;
        padding: 0 15px;
        border-radius: 20px;
        margin-right: 6px;
    }
    &-wrapper{
        display: flex;
    }

}
.slider__shadow{
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    border-radius: 4px;
    line-height: 0;
}

//slider end 

//products start
.products{
    background-color: $bgLight;
    padding: 120px 0;
    &__filter{
        color: #747b86;
        display: flex;
        align-items: center;
        height: 100%;
        img{
            margin-left: 20px;
            display: block;
        }
    }
    &__inner-btn{
        height: 92px;
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 0 30px;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        button{
            @include category;
            &.mixitup-control-active{
                background-color: $blue;
                color: #fff;
            }
            & + button{
                margin-left: 5px;
            }
        }
    }
}
.products__inner-box{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
}
.product__item{
    max-width: 360px;
    width: 100%;
    margin: 0px 14px 30px;
    &-img{
        min-height: 230px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &-text{
        margin-bottom: 25px;
    }
    &-content{
        padding: 25px 25px 0 25px;
    }
}
.product__item-img--inner{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 230px;
    background-image: linear-gradient( 90deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
    opacity: 0;
    transition: all .4s;
    &:hover{
        opacity: 1;
    }
}
.product__item-img--link{
        line-height: 0;
        color: #fff;
        padding: 17px 30px;
        border: 1px solid #fff;
        border-radius: 30px;
        margin: 0 5px;
        transition: all .3s;
        &:hover{
            color: $blue;
            background-color: #fff;
        }
}
.product__item-content{
    min-height: 220px;
}
.product__item-info{
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 1px solid #ececec;
    padding: 0 30px;
}
//products end

//slider bottom start
.slider__bottom-inner{

    .slick-prev{
        @include slider__prev;
      }
    .slick-next{
        @include slider__next;
    }
}
.slider__bottom{
    background-color: $bgDark;
    padding: 120px 0 90px;
}

.slider__top-arrows.arrows__buttom{
    background-color: $blue;
}

//slider bottom end

//sales-info start

.sales-info{
    background-color: #212225;
    padding: 90px 0;
}
.sales-info__inner{
    display: flex;
    justify-content: space-between;
}
.sales-info__item{
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.sales-info__item--number{
    font-size: 36px;
    span{
        display: block;
        width: 165px;
        margin-bottom: 10px;
    }
    .number{
        &_1{
            color: #feb71d;
        }
        &_2{
            color: #58c9e9;
        }
        &_3{
            color: #77de51;
        }
        &_4{
            color: #ff6a6d;
        }
    }
}
.icon{
    &__briefcase{
        font-size: 48px;
        color: #feb71d;
    }
    &__cloud{
        font-size: 48px;
        color: #58c9e9;
    }
    &__smile{
        font-size: 48px;
        color: #77de51;
    }
    &__members{
        font-size: 48px;
        color: #ff6a6d;
    }
}
.sales-info__item--icon{
    margin-bottom: 30px;
}
//sales-info end 

//advantages bottom start 
.advantages__bottom{
    padding: 100px 0 70px;
    &-inner{
    display: flex;
    flex-wrap: wrap;
    }
    &-item{
    text-align: center;
    max-width: 340px;
    margin: 15px;
    padding: 0 30px 50px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    }
    &-image{
    font-size: 60px;
    padding: 50px 0 45px;
        
        .lnr-license{
            color: $blue;
        }
        .lnr-magic-wand{
            color: #7f4ec2;
        }
        .lnr-lock{
            color: #77de51;
        }
        .lnr-chart-bars{
            color: #feb71d;
        }
        .lnr-leaf{
            color: #58c9e9;
        }
        .lnr-phone{
            color: #ff6a6d;
        }
        
    }
    &-smalltitle{
        font-size: 24px;
        color: #000;
        margin-bottom: 20px;
    }
    &-number{
        position: absolute;
        color: rgba($color: #5c87f8, $alpha: .2);
        top: 20px;
        left: 20px;
        font-size: 48px;

    }
}

//advantages bottom end

//start section start 
.start__box{
    display: flex;
}
 .start__item{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    width: 100%;
    img{
        margin-bottom: 50px;
    }
    .start__title{
        color: #fff;
        font-size: 36px;
        margin-bottom: 20px;
    }
    .start__text{
         max-width: 600px;
         margin: 0 auto;
         color: #fff;
         margin-bottom: 45px;
    }
   
}
 .start__btn{
        color: $blue;
        background-color: #fff;
        line-height: 0;
        padding: 22px 27px;
        border-radius: 30px;
        &-purple{
            color: $purple;
        }
    }

//start section end 

//feedback start

.feedback{
    padding: 100px 0 120px;
    &__box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    &__item{
        max-width: 555px;
        border-left: 1px solid $blue;
        border-radius:  0 4px 4px 0;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        padding: 50px 40px 40px;
        position: relative;
        span{
            position: absolute;
            top: 45px;
            right: 40px;
            font-size: 60px;
            color: #e8e8e8;
        }
    }
    &__user{
        display: flex;
        &-avatar{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            margin-right: 20px;
            margin-bottom: 25px;
        }
        &-name{
            font-size: 20px;
            color: #000;
        }
    }
}

//feedback end

//news start

.news{
    padding: 120px 0;
    background-color: $bgDark;
    &__box{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &__item-title{
        font-size: 22px;
        margin-bottom: 25px;
    }
    &__item-info{
        justify-content: flex-end;
    }
}

//news end

//guarantee start

.guarantee{
    padding: 60px 0;
    &__inner{
        display: flex;
        
    }
    &__item{
        text-align: center;
        width: 100%;
        img{
            margin-bottom: 20px;
        }
        
    }
    &__desc{
        font-size: 24px;
        color: #000;
        span{
            color: $blue;
        }
    }
    &__desc-support{

        span{
            color: $purple;
        }
    }
}


//guarantee end


//join start 

.join{
    padding: 110px 0;
    text-align: center;
    
    background-image: linear-gradient( -90deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
    color: #fff;
    &__title{
        color: #fff;
        margin-bottom: 20px;
    }
    &__desc{
        font-size: 18px;
        margin-bottom: 50px;
    }
    &__btn{
        line-height: 0;
        color: $blue;
        padding: 25px 45px;
        background-color: #fff;
        border-radius: 30px;
    }
}

//join end

//footer start 

.footer__top{
    background-color: #262b30;
    padding: 110px 0 120px;
    color: #ababab;
    font-size: 15px;
    line-height: 28px;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__col{
    &-info{
    max-width: 280px;
        img{
        margin-bottom: 13px;
        width: 165px;
        }
    }   
    &-menu{
    max-width: 150px;
    }
    &-form{
    max-width: 360px;
    }  
    &-title{
        font-size: 18px;
        color: #fff;
        margin-bottom: 30px;
        margin-top: 2px;
    } 
    &-text{
        margin-bottom: 25px;
        
    }
    &-list{
        a{
            color: #ababab;
        }
    }
}
.footer__col-menu-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.footer__col-menu-first{
    margin-right: 30px;
}
.footer__info{
    a{
        color: #ababab;
        line-height: 20px;
        margin-bottom: 5px;
    }
    &-phone{
        padding-left: 30px;
        position: relative;
        &::before{
            content: '\e830';
            font-family: 'Linearicons-Free';
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-email{
        padding-left: 30px;
        position: relative;
        &::before{
            content: '\e818';
            font-family: 'Linearicons-Free';
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-location{
        padding-left: 30px;
        position: relative;
        &::before{
            content: '\e833';
            font-family: 'Linearicons-Free';
            position: absolute;
            top: 6px;
            left: 0;
        }
    }
}
.footer__form{
    button{
        padding: 0 30px;
        width: 110px;
        color: #fff;
    }
    max-width: 360px;
    margin-bottom: 40px;
}

.link{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: #fff;
    font-family: 'icomoon' ;
    &-facebook{
        background-color: #395799;
        position: relative;
        &::before{
            content: '\f09a';
            position: absolute;
            top: 9px;
            left: 16px;
        }
    }
    &-twitter{
        background-color: #19b2f5;
        position: relative;
        &::before{
            content: '\f099';
            position: absolute;
            top: 8px;
            left: 16px;
        }
    }
    &-google{
        background-color: #f05b44;
        position: relative;
        &::before{
            content: '\f1a0';
            position: absolute;
            top: 8px;
            left: 16px;
        }
    }
    &-pinterest{
        background-color: #9c0c1c;
        position: relative;
        &::before{
            content: '\f0d2';
            position: absolute;
            top: 8px;
            left: 15px;
        }
    }
    &-Instagram{
        background-color: #0da6be;
        position: relative;
        &::before{
            content: '\f0e1';
            position: absolute;
            top: 8px;
            left: 15px;
        }
    }
    &-dribble{
        background-color: #ea4c89;
        position: relative;
        &::before{
            content: '\f17d';
            position: absolute;
            top: 8px;
            left: 15px;
        }
    }
}
.footer__social-link{
    li{
        display: inline-block;
        & + li {
            margin-left: 10px;
        }
    }

}

.footer__bottom{
    background-color: #192027;
    text-align: center;
    color: #999;
    span{
        color: #fff;
        color: #ababab;
    }
}
//footer end


@import '_media';